@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.navBarMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBarMenu_items:last-child {
    margin-right: 0px;
}

.navBarMenu_items:hover {
    text-decoration: underline;
}

.navBarMenu_items:focus {
    text-decoration: underline;
}

.header_container {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.img-logo {
    height: 175px;
    width: 175px;
    background-image: url(../app/Images/mycomputerworks\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
}

.verified-logo {
    background-image: url(../app/Images/Virefied\ Check.png);
    background-position: center;
    background-repeat: no-repeat;
}

.footer-element:hover {
    text-decoration: underline;
}

.footer-element:focus {
    text-decoration: underline;
}